{% extends "layout.html" %}
{% block body %}
<div class="bodyblock">
  {% if not session.logged_in %}
    <form action="{{ url_for('register') }}" method=post class=userInput name=registerFirst>
      <table>
        <tr><td align=left>First Name</td><td><input type=text name=user_first_name /></td></tr>
        <tr><td align=left>Last Name</td><td><input type=text name=user_last_name /></td></tr>
        <tr><td align=left>Email Id (Will be your login)</td><td><input type=text name=email_id  /></td></tr>
        <tr><td align=left>Password</td><td><input type=text name=password  /></td></tr>
        <tr><td align=left>Company Name</td><td><input type=text name=company_name /></td></tr>
        <tr><td align=left>Currency</td><td><input type=text name=default_currency value=Eur /></td></tr>
        <tr><td align=left>Company's average cost per hour </td><td><input type=text name=default_cost_per_hour /></td></tr>
        <tr><td align=left>Your cost per hour</td><td><input type=text name=cost /></td></tr>
        <tr><td align=left>&nbsp;</td><td><a class="button button-gray" href="javascript:document.forms.registerFirst.submit()">Register</a></td></tr>
    </form>
  {% endif %}
</div>
{% endblock %}

